footer {
  text-align: center;
  background-color: var(--point1);
  border-top: 1px solid (var--point1);
  padding: 20px;
  margin-left: 260px;
  width: calc(100% - 260px);
  color: var(--point2);
  font-size: 0.8rem;
}
